$primary: #1e2022;
$secondary: #52616b;
$info: #c9d6df;
$success: #1fab89;
$danger: #e23e57;
$warning: #ffd369;
$light: #f0f5f9;
$dark: #000000;

$border-radius: 0.7rem;
$border-radius-lg: 0.7rem;

$font-size-base: 1.2rem;

.toast-success {
  background-color: $primary !important;
}
.toast-error {
  background-color: $secondary !important;
}

.fs-8 {
  font-size: 8em;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $light;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $info;
}


.ngx-pagination {
  padding: 0;
}

.current {
  background-color: $primary !important;
  color: $light;
}


@import "~ngx-toastr/toastr";
@import "~/node_modules/bootstrap/scss/bootstrap";
