<a
  [routerLink]="'/rivistas/' + rivista.slug"
  class="overflow-hidden text-decoration-none shadow card border border-dark border-2 h-100"
>
  <img
    *ngIf="rivista.image"
    class="card-img opacity-25"
    [src]="rivista.image"
    alt="Rivista image"
  />
  <div
    [ngClass]="rivista.image ? 'card-img-overlay' : 'card-body'"
    class="d-flex flex-column justify-content-between"
  >
    <h5 class="fs-5 text-center my-1">
      {{ rivista.title }}
    </h5>
    <p class="my-1">{{ format(rivista.text) }}...</p>
    <div class="row text-center my-1">
      <div class="col"><i class="far fa-eye"></i> {{ rivista.views }}</div>
      <div class="col">
        <i class="far fa-thumbs-up"></i> {{ rivista.likes_count }}
      </div>
    </div>
    <h6 class="text-center my-1">Post date: {{ rivista.updated_at | date }}</h6>
  </div>
</a>
