.card:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  box-shadow: 0 0.125rem 0.75rem #000 !important;
  z-index: 3;
  border-color: #52616b !important;
}

.card-img {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
}