<div class="container" *ngIf="rivistas">
  <p class="mt-4 fs-1 text-center">All rivistas</p>
  <div class="row">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (change)="this.getByLikes()">
      <label class="btn btn-outline-primary" for="btnradio1">
        <i class="far fa-thumbs-up"></i> 
        By likes
      </label>
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (change)="this.getByViews()">
      <label class="btn btn-outline-primary" for="btnradio2">
        <i class="far fa-eye"></i> 
        By views
      </label>
    </div>
  </div>
  <div class="row justify-content-center">
    <div
      class="col-sm-12 col-md-6 col-lg-4 col-xl-3 py-3"
      *ngFor="let rivista of rivistas | paginate: pageConfig"
    >
      <app-rivista-card [rivista]="rivista"></app-rivista-card>
    </div>
  </div>
</div>

<div class="py-4">
  <pagination-controls
    class="text-center"
    id="user-pagination"
    (pageChange)="changePage($event)"
  ></pagination-controls>
</div>
