<form class="card-body" #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="mb-3" *ngIf="chooseImage">
    <label for="image" class="form-label">Image</label>
    <input
      type="file"
      class="form-control"
      id="image"
      name="image"
      (change)="selectImage($event)"
      required
    />
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      [(ngModel)]="rivista.title"
      required
    />
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <select
      [(ngModel)]="rivista.category_id"
      class="form-control"
      name="category"
      required
    >
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="text" class="form-label">Text</label>
    <angular-editor [placeholder]="'Enter text here...'" [name]="'text'" [id]="'text'" [className]="'form-control'" [required]="true" [(ngModel)]="rivista.text" [config]="editorConfig"></angular-editor>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
    Post Rivista
  </button>
</form>
