<div class="container" *ngIf="profiles">
  <p class="mt-4 fs-1 text-center">All Profiles</p>
  <div class="row justify-content-center">
    <div
      class="col-sm-12 col-md-6 col-lg-4 col-xl-3 py-3"
      *ngFor="let profile of profiles"
    >
      <a
        [routerLink]="'/profiles/' + profile.slug"
        class="text-decoration-none shadow card border border-dark border-2 h-100"
      >
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="fs-5 text-center my-1">
            {{ profile.first_name }} {{ profile.last_name }}
          </h5>
          <p class="my-1 text-center">{{ profile.email }}</p>
          <small class="text-center my-1">
            User since: {{ profile.created_at | date }}
          </small>
        </div>
      </a>
    </div>
  </div>
</div>
