<div class="container">
  <div class="mt-5 d-flex align-items-center justify-content-center">
    <div
      class="card shadow border border-2 border-primary"
      style="width: 500px"
    >
      <form class="card-body">
        <div class="text-center my-3">
            <i class="fas fa-user-circle fs-8"></i>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" />
          <div class="form-text text-end">
            Forgot your password?
            <a routerLink="/forgot-password">forgot password</a>
          </div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1">
            Show password
          </label>
        </div>
        <button button type="submit" class="btn btn-primary shadow">
          <i class="me-2 fas fa-sign-in-alt"></i>
          Login
        </button>
        <hr />
        <p class="text-center">
          You don't have an account?
          <a class="btn btn-info shadow" routerLink="/register">Register</a>
        </p>
      </form>
    </div>
  </div>
</div>
